.btn {
    font-size: 1em;
    width: 9em;
    height: 2em;
    border-width: 1px;
    color: #333;
    border-color: var(--colorLight);
    border-radius: 2em;
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.5);
    background: var(--colorDark);
    position: absolute;
    left: 2em;
    top: 2em;
}

.btn:hover {
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.8);
}